In [9]:
print("My name is")
for i in range(5): #for i in range(5):
    print("Jimmy is five times" + " " + str(i)) #str(i) is converted to number.

My name is
Jimmy is five times 0
Jimmy is five times 1
Jimmy is five times 2
Jimmy is five times 3
Jimmy is five times 4

In [10]:
total = 0
for num in range(9):
    total = total + (num*2)
print(total)

72

In [3]:
total = 0
for num in range(0,16,2):
    total = total + num
print(total)

56

In [4]:
print('My name is')
i = 0
while i < 5:
    print('Jimmy five times:' + str(i))
    i = i + 1

My name is
Jimmy five times:0
Jimmy five times:1
Jimmy five times:2
Jimmy five times:3
Jimmy five times:4

In [5]:
range(10)

range(0, 10)

In [6]:
for i in range(12, 16):
    print(i)

12
13
14
15

In [7]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [8]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0